<div class="container">
    <h2>Register Client</h2>
    <form *ngIf="!showSuccessMessage" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" name="name" [(ngModel)]="formData.name" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone:</label>
        <input type="text" class="form-control" id="phone" name="phone" [(ngModel)]="formData.phone" required>
      </div>
      <div class="form-group">
        <label for="id">ID:</label>
        <input type="text" class="form-control" id="document" name="document" [(ngModel)]="formData.document" required>
      </div>
      <div class="form-group">
        <label for="mail">mail:</label>
        <input type="mail" class="form-control" id="mail" name="mail" [(ngModel)]="formData.mail" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <div *ngIf="showSuccessMessage" class="alert alert-success mt-3">
      Client registered successfully.
    </div>
    <div *ngIf="showErrorMessage" class="alert alert-danger mt-3">
      An error occurred. Please try again.
    </div>
</div>
<div class="button-container">
  <button (click)="onDoneClick()" routerLink="/">Done</button>
</div>