<div class="front-page">
    <i class="fa fa-star"></i>
    <h1>SUPER WALLET</h1>
    <p>Welcome to the Super Wallet application!</p>
    <div class="button-container">
      <button routerLink="/register-client">Register Client</button>
      <button routerLink="/load-wallet">Load Wallet</button>
      <button routerLink="/check-balance">Check Balance</button>
      <button routerLink="/payment">Payment</button>
      <button routerLink="/payment-confirm">Confirm Payment</button>
    </div>
</div>
  
